
.pay{
    display: flex;
    justify-content: center;
  
    .container{
        width: 1400px;
        padding: 30px 0px;
        display: flex;
        gap: 50px;
        
        .left{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 20px;

          

            .orderCard {
                display: flex;
                flex-direction: column;
                border: 1px solid #ccc;
                padding: 20px;
                border-radius: 8px;
              }

              .orderCardHeader {
                display: flex;
                align-items: center;

                .contactSeller{
                  margin-left: auto; /* Pushes the element to the right */
                  padding-right: 10px;
                }

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                    padding: 5px;
                }

              }
              
              .sellerImage {
                width: 50px; /* Adjust to your preference */
                height: 50px; /* Adjust to your preference */
                border-radius: 50%;
                margin-right: 10px;
              }
              
              .sellerName {
                font-weight: bold;
                color: #333;
              }
              

              
              .orderCardTop {
                display: flex;
                align-items: center;
                justify-content: space-between;
              }
              
              .orderImage {
                width: 80px; /* Adjust the width as needed */
                height: auto;
                margin-right: 15px;
              }
              
              .orderDetails {
                flex-grow: 1;
              }
              
              .orderPrice {
                font-weight: bold;
                font-size: 1.2em;
              }
              
              /* Rest of your styles for quantity dropdown, buttons, etc. */
            

        }

        .right{
            flex: 1;
            border: 1px solid lightgray;
            padding: 20px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            height: max-content;
            max-height: 500px;
            position: sticky;
            top: 150px;

        }

        button{
            background-color: #1dbf73;
            padding: 10px;
            color: white;
            font-weight: 500;
            border: none;
            font-size: 18px;
            cursor: pointer;
          }

    }
}