.login {
    display: flex;
    align-items: center;
    justify-content: center;

    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        color: black;
        margin-bottom: 20px;
       
        a {
          color: inherit; /* Inherit the color from the parent element */
          text-decoration: none; /* Remove underline */
          margin: 0 10px;
          cursor: pointer;
  
          &:hover {
            text-decoration: underline; /* Optional: Add underline on hover */
          }
        }
      }
    }
  
  
    form {
      width: 360px;
      padding: 100px 0px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      label {
        color: black;
        font-size: 18px;
      }
  
      input,
      textarea {
        padding: 20px;
        border: 1px solid rgb(216, 214, 214);
        border-radius: 25px;
      }
  
      button {
        border: none;
        padding: 20px;
        color: white;
        font-weight: 500;
        font-size: 18px;
        background-color: black;
        cursor: pointer;
        border-radius: 25px;
      }
  
      span{
        color: red;
        font-size: 12px;
      }
    }
  }
  