.reviews {
    margin-top: 50px;
  
    .add {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
  
      .addForm {
        display: flex;
        flex-direction: column;
        gap: 20px;
  
        input {
          padding: 20px;
        }
  
        select {
          width: 200px;
          padding: 20px;
          align-self: flex-end;
        }

        .button{
          color: black;
          padding: 10px 50px;
          border-radius: 15px;
          border: 2px solid black;
          background-color: transparent;
          cursor: pointer;
          transition: transform 0.2s, box-shadow 0.2s; // Smooth transition for transform and box-shadow
          margin-left: auto;

          &:hover {
            transform: scale(1); // Slightly increase the size of the button
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Add a shadow effect
          }
        }
       
      }
    }
  
    hr {
      height: 0;
      border: 0.5px solid lightgray;
      margin: 50px 0px;
    }
  }
  