.order-card {
  display: flex;
  flex-direction: column; // This makes sure everything in order-card stacks vertically
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px; // Optional, for rounded corners if you prefer

  .orderCardHeader {
    display: flex;
    align-items: center;
    width: 100%; // Ensures the header takes full width of the card

    .contactSeller {
      margin-left: auto; // Continues to push contactSeller to the right
      padding-right: 10px;
    }
    .sellerName {
      font-weight: bold;
      color: #333;
    }
    .sellerImg {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px; // Adds space between the image and the next element
    }

  }

  .orderCardBody {
    display: flex;
    flex-direction: column; // Ensures contents of the body are arranged top to bottom
    align-items: center;
    justify-content: space-between;
    width: 100%; // Ensures the body takes full width
    margin-top: 10px; // Adds space between the header and the body
  
    .orderImage {
      width: 80px;
      height: auto;
      align-self: start; // Aligns the image to the start of the flex container
    }

    .orderDetails {
      flex-grow: 1;
      padding: 10px 0; // Adds padding top and bottom
    }
  
    .orderPrice {
      font-weight: bold;
      font-size: 1.2em;
    }
  

  }

 



  

  
}
